@font-face {
	font-family: gothamBold;
	src: url(fonts/Gotham-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: gothamBook;
	src: url(fonts/Gotham-Book.otf);
}

@font-face {
	font-family: gothamMedium;
	src: url(fonts/Gotham-Medium.otf);
	font-weight: normal;
}

body {
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}


.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 980px;
	height: 240px;
	background-color: lightgray;
}

.productImg {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	align-self: center;
}

.panghusLogo {
	display: fixed;
	bottom: 10px;
}

.imgLogo {
	width: 100px;
	height: 100px;
	margin: 130px 10px 0px 0px;
}

.infoText {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 0px 20px 0px 20px;
}

h1 {
	font-family: gothamBold, serif;
	color: #6f6f6f;
}

h2 {
	/* font-family: gothamBold, serif; */
	font-family: gothamBook, sans-serif;
	padding: 10px 20px;
	margin: 0px;
	color: #6f6f6f;
}

button {
	padding: 0px;
	border: solid 1px white;
	border-radius: 50px;
	border-top-style: groove;
	/* border: none; */
}

button :hover {
	border-radius: 50px;
	cursor: pointer;
	background-color: #6f6f6f;
	color: white;
}

